<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('Home')"></head>
<!-- dentro al template ho a disposizione un attributo che si chiama currentDate, randomNumber -->
<body>
<nav th:replace="/fragments/navbar :: topNavbar('home')"></nav>
<div class="container">
  <h1>Home Page</h1>
  <h2 th:text="|Today is ${currentDate}|"></h2>
  <div style="background-color:red">
    <span>Random generated number:</span>
    <span th:text="${randomNumber}"></span>
  </div>
</div>
<th:block th:replace="/fragments/resources :: jsResources"></th:block>
</body>
</html>